<!-- Header-->
<%- include('./includes/header'); %>

<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Portfolio</h2>
      <h3 class="section-subheading text-muted">
        Lorem ipsum dolor sit amet consectetur.
      </h3>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item text-center bg-white">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid pf-img" src="/img/portfolio/d1.png" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">E-mail 암호화</div>
            <div class="portfolio-caption-subheading text-muted">
              Web Application
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item text-center bg-white">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid pf-img" src="/img/portfolio/a1.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">근무일 확인</div>
            <div class="portfolio-caption-subheading text-muted">
              Progressive Web Application
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="portfolio-item text-center bg-white">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid pf-img" src="/img/portfolio/03-thumbnail.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Finish</div>
            <div class="portfolio-caption-subheading text-muted">
              Identity
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
        <div class="portfolio-item text-center bg-white">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid pf-img" src="/img/portfolio/04-thumbnail.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Lines</div>
            <div class="portfolio-caption-subheading text-muted">
              Branding
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
        <div class="portfolio-item text-center bg-white">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid pf-img" src="/img/portfolio/05-thumbnail.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Southwest</div>
            <div class="portfolio-caption-subheading text-muted">
              Website Design
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="portfolio-item text-center bg-white">
          <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            <img class="img-fluid pf-img" src="/img/portfolio/06-thumbnail.jpg" alt="" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Window</div>
            <div class="portfolio-caption-subheading text-muted">
              Photography
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Side Widget -->
    <div class="my-4">
      <!-- li태그의 클래스에 active를 넣으면 색이 반전되고 클릭도 되지 않는다. -->
      <!-- active의 의미는 현재 페이지의 의미이다. -->
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Github Contribution Graph-->
<div class="py-5">
  <div class="container">
    <div>
      <!-- Prepare a container for your calendar. -->
      <div class="text-center mb-2"><strong>My GitHub Contribution Graph</strong></div>
      <div class="calendar">
        <!-- Loading stuff -->
        Loading data ...
      </div>
    </div>
  </div>
</div>


<!-- GUEST-->
<section class="page-section" id="guest">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">방명록</h2>
      <h3 class="section-subheading text-muted">La vie turbulente.</h3>
    </div>
    <div class="float-right mb-md-1"> <a class="portfolio-link" data-toggle="modal" href="#guestAllModal">전체보기</a>
    </div>
    <div class="table-responsive mb-3">
      <table class="table table-hover table-condensed bg-light" id="dataTable0">
        <colgroup>
          <col class="col1" width="56px" />
          <col width="22%" />
          <col width="*" />
          <col class="col1" width="17%" />
          <col width="5%" />
        </colgroup>
        <thead>
          <tr>
            <th class="col1">번호</th>
            <th>이름</th>
            <th>내용</th>
            <th class="col1">날짜</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% let j = 1 %>
          <% for (let i = guest.length-1; i >= 0 ; i--) { %>
          <% if (i==(guest.length-6)) break; %>
          <tr id="guest0<%= guest[i].id %>">
            <td class="text-center col1"><%= j++ %></td>
            <td><%= guest[i].userid %></td>
            <td><%= guest[i].content %></td>
            <td class="col1"><%= guest[i].date %></td>
            <!-- <th><a href="/work/delete/<%= i+1 %>">삭제</a></th> -->
            <th><button id="guestDel" class="btn2" value="<%=guest[i].id %>" name="guestDel"><i
                  class="fas fa-trash-alt"></i></button></th>
            <!-- <a class="portfolio-link" data-toggle="modal" href="#guestDelModal" id="guestDel"
                    value="<%= i+1 %>">삭제</a></th> -->
          </tr>
          <% }; %>
        </tbody>
        <input type="hidden" value="" id="guestIdHidden">
      </table>
      <div ID="passDIV" style="DISPLAY: none; position: absolute">
        <table cellpadding="5" cellspacing="0" width="160" style="border: 1 solid #A6A6A6">
          <tr>
            <td width="40" align="right">PW</td>
            <td align="middle" valign="middle"><input id="password1" name="passwd" type="password" size="10"
                maxlength="10" class="form1">
              <a href=""> </a> <a href=" javascript:closeSub();">x</a>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <form id="contactForm" name="sentMessage" action="/work/create" method="POST">
      <div class="row align-items-stretch mb-3">
        <div class="col-md-4">
          <div class="form-group">
            <input class="form-control" id="id" name="id" type="text" placeholder="Your Name *" required
              data-validation-required-message="Please enter your name." />
            <p class="help-block text-danger"></p>
          </div>

          <div class="form-group">
            <input class="form-control" id="pw" name="pw" type="password" placeholder="Your Password *" required
              data-validation-required-message="Please enter your password." />
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group form-group-textarea mb-md-0">
            <textarea class="form-control" rows="3" id="content" name="content" placeholder="Your Message *" required
              data-validation-required-message="Please enter a message."></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div id="success"></div>
        <input class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit" value="send">
      </div>
    </form>
  </div>
</section>

<!-- Guset Delete Modal-->
<div class="modal2" id="guestDelModal" tabindex="0">
  <div class="modal-content2 col-7">
    <div class="close2">
      <i class="fas fa-times mr-1" id="guestClose"></i>
    </div>

    <div class="container text-center">
      <form id="guestDelForm">
        <input type="password" id="guestPw" name="guestPw" data-backdrop="false" placeholder="Enter Your Password"
          required class="mr-md-3 col-lg-auto" />
        <!-- <input type="hidden" id="guestModalId"> -->
        <button class="btn btn-primary col-lg-auto mt-1" id="guestModalDelBtn" type="button" value="">
          Delete
        </button>
      </form>
    </div>
  </div>
</div>

<!-- 방명록 전체보기 -->
<div class="portfolio-modal modal fade" id="guestAllModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="/img/close-icon.svg" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">방명록</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>

              <div class="table-responsive" id="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0"
                  style="table-layout: fixed;" id="products">
                  <colgroup>
                    <col class="col1" width="56px" />
                    <col width="23%" />
                    <col width="*" />
                    <col class="col1" width="13%" />
                    <col width="13%" />
                  </colgroup>
                  <thead>
                    <tr>
                      <th class="col1">번호</th>
                      <th>이름</th>
                      <th>내용</th>
                      <th class="col1">날짜</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="tb">
                    <% let k = 1 %>
                    <% for (let i = guest.length-1; i >= 0 ; i--) { %>
                    <tr id="guest<%= guest[i].id %>" class="guest<%= guest[i].id %>">
                      <td class="col1"><%= k++ %></td>
                      <td><%= guest[i].userid %></td>
                      <td><%= guest[i].content %></td>
                      <td class="col1"><%= guest[i].date %></td>
                      <!-- <th><a href="/work/delete/<%= i+1 %>">삭제</a></th> -->
                      <th><button id="guestDel" class="btn2" value="<%= guest[i].id %>" name="guestDel"><i
                            class="fas fa-trash-alt"></i></button>
                      </th>
                      <!-- <a class="portfolio-link" data-toggle="modal" href="#guestDelModal" id="guestDel"
              value="<%= i+1 %>">삭제</a></th> -->
                    </tr>
                    <% }; %>
                  </tbody>
                </table>
              </div>

              <div class="page-s">
                <nav aria-label="Page navigation example">
                  <ul class="pagination1 justify-content-center" id="pagination1">
                  </ul>
                </nav>
              </div>

              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times mr-1"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="/img/close-icon.svg" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">E-Mail 암호화</h2>
              <p class="item-intro text-muted">
                이메일 암호화 Web Applicatio
              </p>
              <img class="img-fluid d-block mx-auto" src="/img/portfolio/d4.png" alt="" />
              <p>
              <h4><strong>설명</strong></h4><br>
              여러 이메일 서비스를 IMAP, SMTP로 연결하여 사용하여<br>
              이메일 리스트를 조회하는 등의 서비스를 이용할 수 있다.<br>
              이메일 작성 시 내용과 제목을 암호화하여 전송할 수 있어<br>
              작성자와 받는 사람 외에는 메일 내용을 볼 수 없도록 한다.<br>
              암호화되어 전송된 메일은 복호화하여 볼 수 있다.<br><br>

              AWS Certification 적용 (HTTPS)<br>
              AWS Route 53 추가<br>
              AWS Elastic LoadBalancing 적용<br><br>

              (AccessWall Email Part)<br><br>
              <h4><strong>사용한 언어</strong></h4><br>
              - Golang<br>
              - HTML5<br>
              - CSS<br>
              - Javascript<br>
              - PostgreSQL<br><br>

              <h4><strong>추가할 기능들</strong></h4><br>
              - 이메일 검색 기능<br>
              - 이메일 삭제 시 휴지통으로 이동<br>
              - Oauth를 사용한 Gmail 연동<br><br>


              </p>

              <ul class="list-inline">
                <li>Date: June 2020</li>
                <li>Category: Web Application</li>
                <li><a href="https://github.com/in3166/yu-email-ui">GitHub</a></li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times mr-1"></i>
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="/img/close-icon.svg" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">Day & Night</h2>
              <p class="item-intro text-muted">
                근무일 조회 Progressive Web App
              </p>
              <img class="img-fluid d-block mx-auto" src="/img/portfolio/a2.jpg" alt="" />
              <p>
              <h4><strong>설명</strong></h4><br>
              야간 근무와 주간 근무를 번갈아 하시는 어머니를 위해<br>
              일주일, 오늘, 내일의 근무를 쉽게 조회할 수 있도록 만들었다.<br>
              주간 근무 이틀과 야간 근무 이틀, 휴일 이틀이 번갈아 가면서 나타낸다<br>
              GitHub Pages를 이용하여 접속<br>
              번거러운 설치나 URL 검색없이 스마트폰에서도 볼 수 있도록 PWA로 만들었다.<br><br>

              <h4><strong>사용한 언어</strong></h4><br>
              - HTML5<br>
              - CSS<br>
              - Javascript<br><br>

              <h4><strong>추가할 기능들</strong></h4><br>
              - 조잡한 시간 계산 개선<br>
              - 날짜 추가, 월별 메뉴 추가<br>
              - 시작할 날짜를 선택할 수 있도록 하는 기능<br>
              - 야간, 주간, 휴일 일수를 조정할 수 있는 기능<br><br>

              </p>
              <ul class="list-inline">
                <li>Date: July 2020</li>
                <li>Category: Progressive Web App</li>
                <li><a href="https://github.com/in3166/DayNight">GitHub</a></li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times mr-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="/img/close-icon.svg" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img class="img-fluid d-block mx-auto" src="/img/portfolio/03-full.jpg" alt="" />
              <p>
                Use this area to describe your project. Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Est blanditiis
                dolorem culpa incidunt minus dignissimos deserunt repellat
                aperiam quasi sunt officia expedita beatae cupiditate,
                maiores repudiandae, nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Date: January 2020</li>
                <li>Client: Finish</li>
                <li>Category: Identity</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times mr-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 4-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="/img/close-icon.svg" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img class="img-fluid d-block mx-auto" src="/img/portfolio/04-full.jpg" alt="" />
              <p>
                Use this area to describe your project. Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Est blanditiis
                dolorem culpa incidunt minus dignissimos deserunt repellat
                aperiam quasi sunt officia expedita beatae cupiditate,
                maiores repudiandae, nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Date: January 2020</li>
                <li>Client: Lines</li>
                <li>Category: Branding</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times mr-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 5-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="/img/close-icon.svg" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img class="img-fluid d-block mx-auto" src="/img/portfolio/05-full.jpg" alt="" />
              <p>
                Use this area to describe your project. Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Est blanditiis
                dolorem culpa incidunt minus dignissimos deserunt repellat
                aperiam quasi sunt officia expedita beatae cupiditate,
                maiores repudiandae, nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Date: January 2020</li>
                <li>Client: Southwest</li>
                <li>Category: Website Design</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times mr-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal 6-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <img src="/img/close-icon.svg" alt="Close modal" />
      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="modal-body">
              <!-- Project Details Go Here-->
              <h2 class="text-uppercase">Project Name</h2>
              <p class="item-intro text-muted">
                Lorem ipsum dolor sit amet consectetur.
              </p>
              <img class="img-fluid d-block mx-auto" src="/img/portfolio/06-full.jpg" alt="" />
              <p>
                Use this area to describe your project. Lorem ipsum dolor
                sit amet, consectetur adipisicing elit. Est blanditiis
                dolorem culpa incidunt minus dignissimos deserunt repellat
                aperiam quasi sunt officia expedita beatae cupiditate,
                maiores repudiandae, nostrum, reiciendis facere nemo!
              </p>
              <ul class="list-inline">
                <li>Date: January 2020</li>
                <li>Client: Window</li>
                <li>Category: Photography</li>
              </ul>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fas fa-times mr-1"></i>
                Close Project
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer-->
<%- include('./includes/footer'); %>

<!-- github contribution graph -->
<script src="https://unpkg.com/github-calendar@latest/dist/github-calendar.min.js"></script>

<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->
<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css" />
<script>

</script>

<input type="hidden" value="<%= data %>" id="guestDeleteConfirm" />



<script src="/javascripts/pagination.js"></script>
<script src="/javascripts/workFunc.js"></script>
</body>

</html>